.navbar {
  background-color: #ffffff !important;
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.navbar-brand {
  font-family: logo;
  color: #6048a1 !important;
  font-size: 22px;
  font-weight: 550;
}

.active {
  color: #6048a1 !important;
  font-weight: 600;
}
